session_start();
    <%..includes/db.js %>
    
    if(!isset($_SESSION['admin_email'])){
        
        console.log("<script>window.open('login.php','_self')</script>");
        
    }else{
        
        admin_session = $_SESSION['admin_email'];
        
        get_admin = "select * from admins where admin_email='admin_session'";
        
        run_admin = mysqli_query(con,get_admin);
        
        row_admin = mysqli_fetch_array(run_admin);
        
        admin_id = row_admin['admin_id'];
        
        admin_name = row_admin['admin_name'];
        
        admin_email = row_admin['admin_email'];
        
        admin_image = row_admin['admin_image'];
        
        admin_country = row_admin['admin_country'];
        
        admin_about = row_admin['admin_about'];
        
        admin_contact = row_admin['admin_contact'];
        
        admin_job = row_admin['admin_job'];
        
        get_products = "select * from products";
        
        run_products = mysqli_query(con,get_products);
        
        count_products = mysqli_num_rows(run_products);
        
        get_customers = "select * from customers";
        
        run_customers = mysqli_query(con,get_customers);
        
        count_customers = mysqli_num_rows(run_customers);
        
        get_p_categories = "select * from product_categories";
        
        run_p_categories = mysqli_query(con,get_p_categories);
        
        count_p_categories = mysqli_num_rows(run_p_categories);
        
        get_pending_orders = "select * from pending_orders";
        
        run_pending_orders = mysqli_query(con,get_pending_orders);
        
        count_pending_orders = mysqli_num_rows(run_pending_orders);


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>M-Dev Store Admin Area</title>
    <link rel="stylesheet" href="css/bootstrap-337.min.css">
    <link rel="stylesheet" href="font-awsome/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

    <div id="wrapper"><!-- #wrapper begin -->
       
       <%..includes/sidebar.js %>
       
        <div id="page-wrapper"><!-- #page-wrapper begin -->
            <div class="container-fluid"><!-- container-fluid begin -->
                
                if(isset($_GET['dashboard'])){
                        
                        <% ../dashboard.js %>
                        
                }   if(isset($_GET['insert_product'])){
                        
                        <% ../insert_product.php %>
                        
                }   if(isset($_GET['view_products'])){
                        
                        <% ../view_products.php %>
                        
                }   if(isset($_GET['delete_product'])){
                        
                        <% ../delete_product.js %>
                        
                }   if(isset($_GET['edit_product'])){
                        
                        <% ../edit_product.js %>
                        
                }   if(isset($_GET['insert_p_cat'])){
                        
                        <% ../insert_p_cat.php %>
                        
                }   if(isset($_GET['view_p_cats'])){
                        
                        <% ../view_p_cats.php %>
                        
                }   if(isset($_GET['delete_p_cat'])){
                        
                        <% ../delete_p_cat.js %>
                        
                }   if(isset($_GET['edit_p_cat'])){
                        
                        <% ../edit_p_cat.js %>
                        
                }   if(isset($_GET['insert_cat'])){
                        
                        <% ../insert_cat.js %>
                        
                }   if(isset($_GET['view_cats'])){
                        
                        <% ../view_cats.php %>
                        
                }   if(isset($_GET['edit_cat'])){
                        
                        <% ../edit_cat.js %>
                        
                }   if(isset($_GET['delete_cat'])){
                        
                        <% ../delete_cat.js %>
                        
                }   if(isset($_GET['insert_slide'])){
                        
                        <% ../insert_slide.php %>
                        
                }   if(isset($_GET['view_slides'])){
                        
                        <% ../view_slides.php %>
                        
                }   if(isset($_GET['delete_slide'])){
                        
                        <% ../delete_slide.js %>
                        
                }   if(isset($_GET['edit_slide'])){
                        
                        <% ../edit_slide.js %>
                        
                }   if(isset($_GET['insert_box'])){
                        
                        <% ../insert_box.php %>
                        
                }   if(isset($_GET['view_boxes'])){
                        
                        <% ../view_boxes.php %>
                        
                }   if(isset($_GET['delete_box'])){
                        
                        <% ../delete_box.js %>
                        
                }   if(isset($_GET['edit_box'])){
                        
                        <% ../edit_box.js %>
                        
                }   if(isset($_GET['view_customers'])){
                        
                        <% ../view_customers.php %>
                        
                }   if(isset($_GET['delete_customer'])){
                        
                        <% ../delete_customer.js %>
                        
                }   if(isset($_GET['view_orders'])){
                        
                        <% ../view_orders.php %>
                        
                }   if(isset($_GET['delete_order'])){
                        
                        <% ../delete_order.js %>
                        
                }   if(isset($_GET['view_payments'])){
                        
                        <% ../view_payments.js %>
                        
                }   if(isset($_GET['delete_payment'])){
                        
                        <% ../delete_payment.js %>
                        
                }   if(isset($_GET['view_users'])){
                        
                        <% ../view_users.php %>
                        
                }   if(isset($_GET['delete_user'])){
                        
                        <% ../delete_user.js %>
                        
                }   if(isset($_GET['insert_user'])){
                        
                        <% ../insert_user.php %>
                        
                }   if(isset($_GET['user_profile'])){
                        
                        <% ../user_profile.php %>
                        
                }   if(isset($_GET['insert_terms'])){
                        
                        <% ../insert_terms.php %>
                        
                }   if(isset($_GET['view_terms'])){
                        
                        <% ../view_terms.php %>
                        
                }   if(isset($_GET['delete_term'])){
                        
                        <% ../delete_term.js %>
                        
                }   if(isset($_GET['edit_term'])){
                        
                        <% ../edit_term.js %>
                        
                }   if(isset($_GET['edit_css'])){
                        
                        <% ../edit_css.php %>
                        
                }   if(isset($_GET['insert_manufacturer'])){
                        
                        <% ../insert_manufacturer.php %>
                        
                }   if(isset($_GET['view_manufacturers'])){
                        
                        <% ../view_manufacturers.php %>
                        
                }   if(isset($_GET['delete_manufacturer'])){
                        
                        <% ../delete_manufacturer.js %>
                        
                }   if(isset($_GET['edit_manufacturer'])){
                        
                        <% ../edit_manufacturer.js %>
                        
                }   if(isset($_GET['insert_coupon'])){
                        
                        <% ../insert_coupon.php %>
                        
                }   if(isset($_GET['view_coupons'])){
                        
                        <% ../view_coupons.php %>
                        
                }   if(isset($_GET['delete_coupon'])){
                        
                        <% ../delete_coupon.js %>
                        
                }   if(isset($_GET['edit_coupon'])){
                        
                        <% ../edit_coupon.php %>
                        
                }
                
            </div><!-- container-fluid finish -->
        </div><!-- #page-wrapper finish -->
    </div><!-- wrapper finish -->

<script src="js/jquery-331.min.js"></script>     
<script src="js/bootstrap-337.min.js"></script>       
</body>
</html>

} 
